* {
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
}

h2 {
    text-align: center;
    padding: 30px;
}

h3 {
    padding-left: 20px;
}

header {
    height: 85px;
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    header {
        height: 160px;
    }
}


footer {
    height: 70px;
    text-align: center;
    background-color: rgb(224, 224, 224);
    margin: 20px;
}

.containerItemList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.IconCart {
    width: 35px;
    filter: invert(100%);
}

.misCompras {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.itemsCompra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-nav a {
    color: rgb(184, 184, 184);
    text-decoration: none;
}

.header-titulo {
    color: white;
}

.button {
    margin: 3px;
}

.compraFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.buttonCompra {
    width: 100px;
}

.containerItemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
